<div class="fwd-smile-twin" style="max-width:900px;margin:1.5em auto">
<svg style="width:100%;height:auto;display:block" xmlns:xlink="http://www.w3.org/1999/xlink"   viewBox="0 0 684 280.8" xmlns="http://www.w3.org/2000/svg" version="1.1">
 <metadata>
  <rdf:RDF xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
   <cc:Work>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:date>2026-09-24T18:55:05.982730</dc:date>
    <dc:format>image/svg+xml</dc:format>
    <dc:creator>
     <cc:Agent>
      <dc:title>Matplotlib v3.10.8, https://matplotlib.org/</dc:title>
     </cc:Agent>
    </dc:creator>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <defs>
  <style type="text/css">*{stroke-linejoin: round; stroke-linecap: butt}</style>
 </defs>
 <g id="figure_1">
  <g id="patch_1">
   <path d="M 0 280.8 
L 684 280.8 
L 684 0 
L 0 0 
L 0 280.8 
z
" style="fill: none"/>
  </g>
  <g id="axes_1">
   <g id="patch_2">
    <path d="M 41.51 238.48 
L 351.285 238.48 
L 351.285 47.04 
L 41.51 47.04 
L 41.51 238.48 
z
" style="fill: none"/>
   </g>
   <g id="matplotlib.axis_1">
    <g id="xtick_1">
     <g id="line2d_1">
      <path d="M 55.590682 238.48 
L 55.590682 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_2">
      <defs>
       <path id="ma2d3541061" d="M 0 0 
L 0 3.5 
" style="stroke: #000000; stroke-width: 0.8"/>
      </defs>
      <g>
       <use xlink:href="#ma2d3541061" x="55.590682" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_1">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="55.590682" y="252.318594" transform="rotate(-0 55.590682 252.318594)">0.80</text>
     </g>
    </g>
    <g id="xtick_2">
     <g id="line2d_3">
      <path d="M 90.792386 238.48 
L 90.792386 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_4">
      <g>
       <use xlink:href="#ma2d3541061" x="90.792386" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_2">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="90.792386" y="252.318594" transform="rotate(-0 90.792386 252.318594)">0.85</text>
     </g>
    </g>
    <g id="xtick_3">
     <g id="line2d_5">
      <path d="M 125.994091 238.48 
L 125.994091 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_6">
      <g>
       <use xlink:href="#ma2d3541061" x="125.994091" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_3">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="125.994091" y="252.318594" transform="rotate(-0 125.994091 252.318594)">0.90</text>
     </g>
    </g>
    <g id="xtick_4">
     <g id="line2d_7">
      <path d="M 161.195795 238.48 
L 161.195795 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_8">
      <g>
       <use xlink:href="#ma2d3541061" x="161.195795" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_4">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="161.195795" y="252.318594" transform="rotate(-0 161.195795 252.318594)">0.95</text>
     </g>
    </g>
    <g id="xtick_5">
     <g id="line2d_9">
      <path d="M 196.3975 238.48 
L 196.3975 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_10">
      <g>
       <use xlink:href="#ma2d3541061" x="196.3975" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_5">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="196.3975" y="252.318594" transform="rotate(-0 196.3975 252.318594)">1.00</text>
     </g>
    </g>
    <g id="xtick_6">
     <g id="line2d_11">
      <path d="M 231.599205 238.48 
L 231.599205 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_12">
      <g>
       <use xlink:href="#ma2d3541061" x="231.599205" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_6">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="231.599205" y="252.318594" transform="rotate(-0 231.599205 252.318594)">1.05</text>
     </g>
    </g>
    <g id="xtick_7">
     <g id="line2d_13">
      <path d="M 266.800909 238.48 
L 266.800909 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_14">
      <g>
       <use xlink:href="#ma2d3541061" x="266.800909" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_7">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="266.800909" y="252.318594" transform="rotate(-0 266.800909 252.318594)">1.10</text>
     </g>
    </g>
    <g id="xtick_8">
     <g id="line2d_15">
      <path d="M 302.002614 238.48 
L 302.002614 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_16">
      <g>
       <use xlink:href="#ma2d3541061" x="302.002614" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_8">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="302.002614" y="252.318594" transform="rotate(-0 302.002614 252.318594)">1.15</text>
     </g>
    </g>
    <g id="xtick_9">
     <g id="line2d_17">
      <path d="M 337.204318 238.48 
L 337.204318 47.04 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_18">
      <g>
       <use xlink:href="#ma2d3541061" x="337.204318" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_9">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="337.204318" y="252.318594" transform="rotate(-0 337.204318 252.318594)">1.20</text>
     </g>
    </g>
    <g id="text_10">
     <!-- moneyness $k$ -->
     <g transform="translate(166.6075 265.030313)">
      <text>
       <tspan x="0" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">m</tspan>
       <tspan x="8.76709" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">o</tspan>
       <tspan x="14.273438" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">n</tspan>
       <tspan x="19.977539" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">e</tspan>
       <tspan x="25.514648" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">y</tspan>
       <tspan x="30.84082" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">n</tspan>
       <tspan x="36.544922" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">e</tspan>
       <tspan x="42.082031" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">s</tspan>
       <tspan x="46.770996" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">s</tspan>
       <tspan x="51.459961" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'"> </tspan>
       <tspan x="54.320801" y="-0.15625" style="font-style: oblique; font-size: 9px; font-family: 'DejaVu Sans'">k</tspan>
      </text>
     </g>
    </g>
   </g>
   <g id="matplotlib.axis_2">
    <g id="ytick_1">
     <g id="line2d_19">
      <path d="M 41.51 217.210961 
L 351.285 217.210961 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_20">
      <defs>
       <path id="md5269b3e6f" d="M 0 0 
L -3.5 0 
" style="stroke: #000000; stroke-width: 0.8"/>
      </defs>
      <g>
       <use xlink:href="#md5269b3e6f" x="41.51" y="217.210961" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_11">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: end" x="34.51" y="220.630258" transform="rotate(-0 34.51 220.630258)">17</text>
     </g>
    </g>
    <g id="ytick_2">
     <g id="line2d_21">
      <path d="M 41.51 188.862756 
L 351.285 188.862756 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_22">
      <g>
       <use xlink:href="#md5269b3e6f" x="41.51" y="188.862756" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_12">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: end" x="34.51" y="192.282053" transform="rotate(-0 34.51 192.282053)">18</text>
     </g>
    </g>
    <g id="ytick_3">
     <g id="line2d_23">
      <path d="M 41.51 160.51455 
L 351.285 160.51455 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_24">
      <g>
       <use xlink:href="#md5269b3e6f" x="41.51" y="160.51455" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_13">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: end" x="34.51" y="163.933847" transform="rotate(-0 34.51 163.933847)">19</text>
     </g>
    </g>
    <g id="ytick_4">
     <g id="line2d_25">
      <path d="M 41.51 132.166344 
L 351.285 132.166344 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_26">
      <g>
       <use xlink:href="#md5269b3e6f" x="41.51" y="132.166344" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_14">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: end" x="34.51" y="135.585641" transform="rotate(-0 34.51 135.585641)">20</text>
     </g>
    </g>
    <g id="ytick_5">
     <g id="line2d_27">
      <path d="M 41.51 103.818138 
L 351.285 103.818138 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_28">
      <g>
       <use xlink:href="#md5269b3e6f" x="41.51" y="103.818138" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_15">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: end" x="34.51" y="107.237435" transform="rotate(-0 34.51 107.237435)">21</text>
     </g>
    </g>
    <g id="ytick_6">
     <g id="line2d_29">
      <path d="M 41.51 75.469933 
L 351.285 75.469933 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_30">
      <g>
       <use xlink:href="#md5269b3e6f" x="41.51" y="75.469933" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_16">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: end" x="34.51" y="78.88923" transform="rotate(-0 34.51 78.88923)">22</text>
     </g>
    </g>
    <g id="ytick_7">
     <g id="line2d_31">
      <path d="M 41.51 47.121727 
L 351.285 47.121727 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_32">
      <g>
       <use xlink:href="#md5269b3e6f" x="41.51" y="47.121727" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_17">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: end" x="34.51" y="50.541024" transform="rotate(-0 34.51 50.541024)">23</text>
     </g>
    </g>
    <g id="text_18">
     <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="17.185781" y="142.76" transform="rotate(-90 17.185781 142.76)">forward implied vol (%)</text>
    </g>
   </g>
   <g id="line2d_33">
    <path d="M 55.590682 55.741818 
L 90.792386 79.040483 
L 125.994091 101.654959 
L 161.195795 123.56242 
L 196.3975 144.69623 
L 231.599205 164.943117 
L 266.800909 184.143236 
L 302.002614 202.096419 
L 337.204318 218.578419 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #c0392b; stroke-width: 1.8; stroke-linecap: square"/>
   </g>
   <g id="line2d_34">
    <path d="M 55.590682 65.419388 
L 90.792386 90.550039 
L 125.994091 114.789803 
L 161.195795 138.032165 
L 196.3975 160.076123 
L 231.599205 180.608722 
L 266.800909 199.20332 
L 302.002614 215.360426 
L 337.204318 228.617169 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #2c3e50; stroke-width: 1.8; stroke-linecap: square"/>
   </g>
   <g id="line2d_35">
    <path d="M 55.590682 66.458213 
L 90.792386 91.606124 
L 125.994091 115.863921 
L 161.195795 139.125208 
L 196.3975 161.188717 
L 231.599205 181.740543 
L 266.800909 200.352023 
L 302.002614 216.520311 
L 337.204318 229.778182 
" clip-path="url(#p44c7762187)" style="fill: none; stroke: #2980b9; stroke-width: 1.8; stroke-linecap: square"/>
   </g>
   <g id="patch_3">
    <path d="M 41.51 238.48 
L 41.51 47.04 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="patch_4">
    <path d="M 351.285 238.48 
L 351.285 47.04 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="patch_5">
    <path d="M 41.51 238.48 
L 351.285 238.48 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="patch_6">
    <path d="M 41.51 47.04 
L 351.285 47.04 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="text_19">
    <text style="font-size: 10px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="196.3975" y="41.04" transform="rotate(-0 196.3975 41.04)">Heston</text>
   </g>
   <g id="legend_1">
    <g id="line2d_36">
     <path d="M 298.085 57.51875 
L 306.085 57.51875 
L 314.085 57.51875 
" style="fill: none; stroke: #c0392b; stroke-width: 1.8; stroke-linecap: square"/>
    </g>
    <g id="text_20">
     <!-- $T_1=0$ -->
     <g transform="translate(320.485 60.31875)">
      <text>
       <tspan x="0" y="-0.0625" style="font-style: oblique; font-size: 8px; font-family: 'DejaVu Sans'">T</tspan>
       <tspan x="4.886719" y="1.25" style="font-size: 5.6px; font-family: 'DejaVu Sans'">1</tspan>
       <tspan x="10.226953" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">=</tspan>
       <tspan x="18.488672" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">0</tspan>
      </text>
     </g>
    </g>
    <g id="line2d_37">
     <path d="M 298.085 69.26125 
L 306.085 69.26125 
L 314.085 69.26125 
" style="fill: none; stroke: #2c3e50; stroke-width: 1.8; stroke-linecap: square"/>
    </g>
    <g id="text_21">
     <!-- $T_1=1$ -->
     <g transform="translate(320.485 72.06125)">
      <text>
       <tspan x="0" y="-0.171875" style="font-style: oblique; font-size: 8px; font-family: 'DejaVu Sans'">T</tspan>
       <tspan x="4.886719" y="1.140625" style="font-size: 5.6px; font-family: 'DejaVu Sans'">1</tspan>
       <tspan x="10.226953" y="-0.171875" style="font-size: 8px; font-family: 'DejaVu Sans'">=</tspan>
       <tspan x="18.488672" y="-0.171875" style="font-size: 8px; font-family: 'DejaVu Sans'">1</tspan>
      </text>
     </g>
    </g>
    <g id="line2d_38">
     <path d="M 298.085 81.00375 
L 306.085 81.00375 
L 314.085 81.00375 
" style="fill: none; stroke: #2980b9; stroke-width: 1.8; stroke-linecap: square"/>
    </g>
    <g id="text_22">
     <!-- $T_1=2$ -->
     <g transform="translate(320.485 83.80375)">
      <text>
       <tspan x="0" y="-0.0625" style="font-style: oblique; font-size: 8px; font-family: 'DejaVu Sans'">T</tspan>
       <tspan x="4.886719" y="1.25" style="font-size: 5.6px; font-family: 'DejaVu Sans'">1</tspan>
       <tspan x="10.226953" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">=</tspan>
       <tspan x="18.488672" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">2</tspan>
      </text>
     </g>
    </g>
   </g>
  </g>
  <g id="axes_2">
   <g id="patch_7">
    <path d="M 364.505 238.48 
L 674.28 238.48 
L 674.28 47.04 
L 364.505 47.04 
L 364.505 238.48 
z
" style="fill: none"/>
   </g>
   <g id="matplotlib.axis_3">
    <g id="xtick_10">
     <g id="line2d_39">
      <path d="M 378.585682 238.48 
L 378.585682 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_40">
      <g>
       <use xlink:href="#ma2d3541061" x="378.585682" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_23">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="378.585682" y="252.318594" transform="rotate(-0 378.585682 252.318594)">0.80</text>
     </g>
    </g>
    <g id="xtick_11">
     <g id="line2d_41">
      <path d="M 413.787386 238.48 
L 413.787386 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_42">
      <g>
       <use xlink:href="#ma2d3541061" x="413.787386" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_24">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="413.787386" y="252.318594" transform="rotate(-0 413.787386 252.318594)">0.85</text>
     </g>
    </g>
    <g id="xtick_12">
     <g id="line2d_43">
      <path d="M 448.989091 238.48 
L 448.989091 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_44">
      <g>
       <use xlink:href="#ma2d3541061" x="448.989091" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_25">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="448.989091" y="252.318594" transform="rotate(-0 448.989091 252.318594)">0.90</text>
     </g>
    </g>
    <g id="xtick_13">
     <g id="line2d_45">
      <path d="M 484.190795 238.48 
L 484.190795 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_46">
      <g>
       <use xlink:href="#ma2d3541061" x="484.190795" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_26">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="484.190795" y="252.318594" transform="rotate(-0 484.190795 252.318594)">0.95</text>
     </g>
    </g>
    <g id="xtick_14">
     <g id="line2d_47">
      <path d="M 519.3925 238.48 
L 519.3925 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_48">
      <g>
       <use xlink:href="#ma2d3541061" x="519.3925" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_27">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="519.3925" y="252.318594" transform="rotate(-0 519.3925 252.318594)">1.00</text>
     </g>
    </g>
    <g id="xtick_15">
     <g id="line2d_49">
      <path d="M 554.594205 238.48 
L 554.594205 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_50">
      <g>
       <use xlink:href="#ma2d3541061" x="554.594205" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_28">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="554.594205" y="252.318594" transform="rotate(-0 554.594205 252.318594)">1.05</text>
     </g>
    </g>
    <g id="xtick_16">
     <g id="line2d_51">
      <path d="M 589.795909 238.48 
L 589.795909 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_52">
      <g>
       <use xlink:href="#ma2d3541061" x="589.795909" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_29">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="589.795909" y="252.318594" transform="rotate(-0 589.795909 252.318594)">1.10</text>
     </g>
    </g>
    <g id="xtick_17">
     <g id="line2d_53">
      <path d="M 624.997614 238.48 
L 624.997614 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_54">
      <g>
       <use xlink:href="#ma2d3541061" x="624.997614" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_30">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="624.997614" y="252.318594" transform="rotate(-0 624.997614 252.318594)">1.15</text>
     </g>
    </g>
    <g id="xtick_18">
     <g id="line2d_55">
      <path d="M 660.199318 238.48 
L 660.199318 47.04 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_56">
      <g>
       <use xlink:href="#ma2d3541061" x="660.199318" y="238.48" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
     <g id="text_31">
      <text style="font-size: 9px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="660.199318" y="252.318594" transform="rotate(-0 660.199318 252.318594)">1.20</text>
     </g>
    </g>
    <g id="text_32">
     <!-- moneyness $k$ -->
     <g transform="translate(489.6025 265.030313)">
      <text>
       <tspan x="0" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">m</tspan>
       <tspan x="8.76709" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">o</tspan>
       <tspan x="14.273438" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">n</tspan>
       <tspan x="19.977539" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">e</tspan>
       <tspan x="25.514648" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">y</tspan>
       <tspan x="30.84082" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">n</tspan>
       <tspan x="36.544922" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">e</tspan>
       <tspan x="42.082031" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">s</tspan>
       <tspan x="46.770996" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'">s</tspan>
       <tspan x="51.459961" y="-0.15625" style="font-size: 9px; font-family: 'DejaVu Sans'"> </tspan>
       <tspan x="54.320801" y="-0.15625" style="font-style: oblique; font-size: 9px; font-family: 'DejaVu Sans'">k</tspan>
      </text>
     </g>
    </g>
   </g>
   <g id="matplotlib.axis_4">
    <g id="ytick_8">
     <g id="line2d_57">
      <path d="M 364.505 217.210961 
L 674.28 217.210961 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_58">
      <g>
       <use xlink:href="#md5269b3e6f" x="364.505" y="217.210961" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
    </g>
    <g id="ytick_9">
     <g id="line2d_59">
      <path d="M 364.505 188.862756 
L 674.28 188.862756 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_60">
      <g>
       <use xlink:href="#md5269b3e6f" x="364.505" y="188.862756" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
    </g>
    <g id="ytick_10">
     <g id="line2d_61">
      <path d="M 364.505 160.51455 
L 674.28 160.51455 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_62">
      <g>
       <use xlink:href="#md5269b3e6f" x="364.505" y="160.51455" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
    </g>
    <g id="ytick_11">
     <g id="line2d_63">
      <path d="M 364.505 132.166344 
L 674.28 132.166344 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_64">
      <g>
       <use xlink:href="#md5269b3e6f" x="364.505" y="132.166344" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
    </g>
    <g id="ytick_12">
     <g id="line2d_65">
      <path d="M 364.505 103.818138 
L 674.28 103.818138 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_66">
      <g>
       <use xlink:href="#md5269b3e6f" x="364.505" y="103.818138" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
    </g>
    <g id="ytick_13">
     <g id="line2d_67">
      <path d="M 364.505 75.469933 
L 674.28 75.469933 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_68">
      <g>
       <use xlink:href="#md5269b3e6f" x="364.505" y="75.469933" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
    </g>
    <g id="ytick_14">
     <g id="line2d_69">
      <path d="M 364.505 47.121727 
L 674.28 47.121727 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #b0b0b0; stroke-opacity: 0.25; stroke-width: 0.5; stroke-linecap: square"/>
     </g>
     <g id="line2d_70">
      <g>
       <use xlink:href="#md5269b3e6f" x="364.505" y="47.121727" style="stroke: #000000; stroke-width: 0.8"/>
      </g>
     </g>
    </g>
   </g>
   <g id="line2d_71">
    <path d="M 378.585682 68.649534 
L 413.787386 88.245714 
L 448.989091 108.461236 
L 484.190795 128.612609 
L 519.3925 148.481262 
L 554.594205 168.014549 
L 589.795909 186.715359 
L 624.997614 204.416736 
L 660.199318 220.748283 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #c0392b; stroke-width: 1.8; stroke-linecap: square"/>
   </g>
   <g id="line2d_72">
    <path d="M 378.585682 113.376674 
L 413.787386 125.812944 
L 448.989091 138.350809 
L 484.190795 149.955139 
L 519.3925 160.673468 
L 554.594205 170.059915 
L 589.795909 178.637942 
L 624.997614 185.88651 
L 660.199318 191.657282 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #2c3e50; stroke-width: 1.8; stroke-linecap: square"/>
   </g>
   <g id="line2d_73">
    <path d="M 378.585682 133.913874 
L 413.787386 140.547452 
L 448.989091 147.786293 
L 484.190795 154.884432 
L 519.3925 161.254522 
L 554.594205 167.043269 
L 589.795909 172.333993 
L 624.997614 176.827458 
L 660.199318 180.676921 
" clip-path="url(#pe6fdb4ac02)" style="fill: none; stroke: #2980b9; stroke-width: 1.8; stroke-linecap: square"/>
   </g>
   <g id="patch_8">
    <path d="M 364.505 238.48 
L 364.505 47.04 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="patch_9">
    <path d="M 674.28 238.48 
L 674.28 47.04 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="patch_10">
    <path d="M 364.505 238.48 
L 674.28 238.48 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="patch_11">
    <path d="M 364.505 47.04 
L 674.28 47.04 
" style="fill: none; stroke: #000000; stroke-width: 0.8; stroke-linejoin: miter; stroke-linecap: square"/>
   </g>
   <g id="text_33">
    <text style="font-size: 10px; font-family: 'DejaVu Sans', 'Bitstream Vera Sans', 'Computer Modern Sans Serif', 'Lucida Grande', 'Verdana', 'Geneva', 'Lucid', 'Arial', 'Helvetica', 'Avant Garde', sans-serif; text-anchor: middle" x="519.3925" y="41.04" transform="rotate(-0 519.3925 41.04)">local vol</text>
   </g>
   <g id="legend_2">
    <g id="line2d_74">
     <path d="M 621.08 57.51875 
L 629.08 57.51875 
L 637.08 57.51875 
" style="fill: none; stroke: #c0392b; stroke-width: 1.8; stroke-linecap: square"/>
    </g>
    <g id="text_34">
     <!-- $T_1=0$ -->
     <g transform="translate(643.48 60.31875)">
      <text>
       <tspan x="0" y="-0.0625" style="font-style: oblique; font-size: 8px; font-family: 'DejaVu Sans'">T</tspan>
       <tspan x="4.886719" y="1.25" style="font-size: 5.6px; font-family: 'DejaVu Sans'">1</tspan>
       <tspan x="10.226953" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">=</tspan>
       <tspan x="18.488672" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">0</tspan>
      </text>
     </g>
    </g>
    <g id="line2d_75">
     <path d="M 621.08 69.26125 
L 629.08 69.26125 
L 637.08 69.26125 
" style="fill: none; stroke: #2c3e50; stroke-width: 1.8; stroke-linecap: square"/>
    </g>
    <g id="text_35">
     <!-- $T_1=1$ -->
     <g transform="translate(643.48 72.06125)">
      <text>
       <tspan x="0" y="-0.171875" style="font-style: oblique; font-size: 8px; font-family: 'DejaVu Sans'">T</tspan>
       <tspan x="4.886719" y="1.140625" style="font-size: 5.6px; font-family: 'DejaVu Sans'">1</tspan>
       <tspan x="10.226953" y="-0.171875" style="font-size: 8px; font-family: 'DejaVu Sans'">=</tspan>
       <tspan x="18.488672" y="-0.171875" style="font-size: 8px; font-family: 'DejaVu Sans'">1</tspan>
      </text>
     </g>
    </g>
    <g id="line2d_76">
     <path d="M 621.08 81.00375 
L 629.08 81.00375 
L 637.08 81.00375 
" style="fill: none; stroke: #2980b9; stroke-width: 1.8; stroke-linecap: square"/>
    </g>
    <g id="text_36">
     <!-- $T_1=2$ -->
     <g transform="translate(643.48 83.80375)">
      <text>
       <tspan x="0" y="-0.0625" style="font-style: oblique; font-size: 8px; font-family: 'DejaVu Sans'">T</tspan>
       <tspan x="4.886719" y="1.25" style="font-size: 5.6px; font-family: 'DejaVu Sans'">1</tspan>
       <tspan x="10.226953" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">=</tspan>
       <tspan x="18.488672" y="-0.0625" style="font-size: 8px; font-family: 'DejaVu Sans'">2</tspan>
      </text>
     </g>
    </g>
   </g>
  </g>
  <g id="text_37">
   <!-- Forward smile by start date $T_1$, each option running one year -->
   <g transform="translate(173.37 13.976)">
    <text>
     <tspan x="0" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">F</tspan>
     <tspan x="6.327148" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">o</tspan>
     <tspan x="13.057129" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">r</tspan>
     <tspan x="17.57959" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">w</tspan>
     <tspan x="26.576172" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">a</tspan>
     <tspan x="33.316895" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">r</tspan>
     <tspan x="37.839355" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">d</tspan>
     <tspan x="44.821777" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="48.318359" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">s</tspan>
     <tspan x="54.049316" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">m</tspan>
     <tspan x="64.764648" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">i</tspan>
     <tspan x="67.820801" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">l</tspan>
     <tspan x="70.876953" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">e</tspan>
     <tspan x="77.644531" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="81.141113" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">b</tspan>
     <tspan x="88.123535" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">y</tspan>
     <tspan x="94.633301" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="98.129883" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">s</tspan>
     <tspan x="103.86084" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">t</tspan>
     <tspan x="108.173828" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">a</tspan>
     <tspan x="114.914551" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">r</tspan>
     <tspan x="119.437012" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">t</tspan>
     <tspan x="123.75" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="127.246582" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">d</tspan>
     <tspan x="134.229004" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">a</tspan>
     <tspan x="140.969727" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">t</tspan>
     <tspan x="145.282715" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">e</tspan>
     <tspan x="152.050293" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="167.465869" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">,</tspan>
     <tspan x="170.962451" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="174.459033" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">e</tspan>
     <tspan x="181.226611" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">a</tspan>
     <tspan x="187.967334" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">c</tspan>
     <tspan x="194.015186" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">h</tspan>
     <tspan x="200.986865" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="204.483447" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">o</tspan>
     <tspan x="211.213428" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">p</tspan>
     <tspan x="218.19585" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">t</tspan>
     <tspan x="222.508838" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">i</tspan>
     <tspan x="225.56499" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">o</tspan>
     <tspan x="232.294971" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">n</tspan>
     <tspan x="239.26665" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="242.763232" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">r</tspan>
     <tspan x="247.285693" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">u</tspan>
     <tspan x="254.257373" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">n</tspan>
     <tspan x="261.229053" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">n</tspan>
     <tspan x="268.200732" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">i</tspan>
     <tspan x="271.256885" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">n</tspan>
     <tspan x="278.228564" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">g</tspan>
     <tspan x="285.210986" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="288.707568" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">o</tspan>
     <tspan x="295.437549" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">n</tspan>
     <tspan x="302.409229" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">e</tspan>
     <tspan x="309.176807" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'"> </tspan>
     <tspan x="312.673389" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">y</tspan>
     <tspan x="319.183154" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">e</tspan>
     <tspan x="325.950732" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">a</tspan>
     <tspan x="332.691455" y="-0.640625" style="font-size: 11px; font-family: 'DejaVu Sans'">r</tspan>
     <tspan x="155.546875" y="-0.640625" style="font-style: oblique; font-size: 11px; font-family: 'DejaVu Sans'">T</tspan>
     <tspan x="162.266113" y="1.164062" style="font-size: 7.7px; font-family: 'DejaVu Sans'">1</tspan>
    </text>
   </g>
  </g>
 </g>
 <defs>
  <clipPath id="p44c7762187">
   <rect x="41.51" y="47.04" width="309.775" height="191.44"/>
  </clipPath>
  <clipPath id="pe6fdb4ac02">
   <rect x="364.505" y="47.04" width="309.775" height="191.44"/>
  </clipPath>
 </defs>
</svg>
</div>
